<div id="index" class="container">
    <div class="sidenav">
        <a id="logo-clicked"><img src="/assets/papa-logo-3.svg" class="logo-img"></a>
        <div class="sidenav-container uppercase">
            <a id="propos_clicked">À Propos</a></br>
            <a id="services_clicked">Services</a></br>
            <a id="realisations_clicked">Réalisations</a>
        </div>
        <a id="contact_clicked" class="contact-container uppercase">Nous Contacter</a>
    </div>

    <div id="slogan" class="slogan uppercase">
        <h1>Les solutions sont à votre portée</br>___</h1>
    </div>

    
    <div id="propos">
        <h1 class="header uppercase">À Propos</h1>
        <div class="propos">
            <p>
                Shefford Bi Solutions a été créée afin d’apporter aux organisations de petites et moyennes taille des
                solutions dans le domaine de l’intelligence d&#39;affaires.
                Les services de Shefford BI Solutions vont de l’analyse des besoins, la définition des indicateurs, le design
                des tableaux de bord et leur développement.
                Shefford BI Solutions vous propose un ensemble de formations sur les outils d’analyses et de
                visualisation de données.
                Nous sommes une équipe réduite, totalisant plus de trente 35 années d&#39;expérience concrète et pratique
                dans des environnements de systèmes d&#39;information complexes.
            </p>

            <b>Spécialités:</b>
            <ul class="no-bullets">
                <li>QlikView, Qlik Sense, NPrinting</li>
                <li>Tableau Software</li>
                <li>PowerBI</li>
                <li>La modélisation de données</li>
                <li>Projets BI</li>
                <li>Aide au choix d’outils</li>
            </ul>
        </div>
    </div>

    <div id="realisations">
        <h1 class="header uppercase">Réalisations</h1>
        <div class="realisations">
        </div>
    </div>

    <div id="services">
        <h1 class="header uppercase">Services</h1>
        <div class="services">
            <div class="services_container">
                <h3>Formations</h3>
                <ul class="service-list no-bullets">
                    <li><a id="detail6_clicked">Qlik</a></li>
                    <li><a id="detail7_clicked">Tableau Software</a></li>
                </ul></br>

                <h3>Analyse des besoins</h3>
                <ul class="no-bullets">
                    <li>Partie critique de tout projet d’intelligence d’affaire, cette phase est effectuée sous forme d’ateliers permettant à l’équipe de mieux apréhender 
                    les challenges affrontés par l’organisation</li>
                </ul></br>

                <h3>Définition d’indicateurs de performance</h3>
                <ul class="no-bullets">
                    <li>Suite à la tenue des atelier, l’équipe définit avec les gens d’affaire les indicateurs attendus et les axes d’analyse à mettre en place</li>
                </ul></br>

                <h3>Création de tableaux de bord</h3>
                <ul class="service-list no-bullets">
                    <li><a id="detail1_clicked">Design de tableaux de bord</a></li>
                    <li><a id="detail2_clicked">Développement des tableaux de bord</a></li>
                    <li><a id="detail3_clicked">Analyse et mise en place de la sécurité</a></li>
                    <li><a id="detail4_clicked">Déploiement</a></li>
                    <li><a id="detail5_clicked">Support Post-implantation</a></li>
                </ul>
            </div>

            <div class="detail_container">
                <div id="detail1" class="detail_text">
                    <h3>Design de tableaux de bord</h3>
                    <p> L’équipe définit les différentes pages constituant le tableau de bord en suivant les bonnes pratiques dictées par des spécialistes de la visualisation 
                        de données tels que Stephen Few et Wayne Eckerson. Leur définition est partagée avec les équipes du client afin de s’assurer qu’ils répondent aux attentes.
                    </p>
                </div>

                <div id="detail2" class="detail_text">
                    <h3>Développement des tableaux de bord</h3>
                    <p> Suite aux différentes phases d’analyse, les tableaux de bord sont développés en utilisant la ou les technologies définies précédemment. 
                        Des livraisons régulières sont faites afin de s’assurer que le développement reste aligné avec les besoins.
                        Des tests unitaires sont effectués tout au long des développements afin d’éviter les régressions  possibles durant le développement. 
                    </p>
                </div>
                
                <div id="detail3" class="detail_text">
                    <h3>Analyse et mise en place de la sécurité</h3>
                    <p> Durant la phase de développement, les besoins en sécurité (accès aux serveurs, accès aux tableaux de bord, accès aux données) sont analysés et l’implantation 
                        en est intégré aux différents développements.
                    </p>
                </div>
                
                <div id="detail4" class="detail_text">
                    <h3>Déploiement</h3>
                    <p> Afin de permettre les tests d’acceptation, les tableaux de bord sont déployés dans un environnement accessible par les gens d’affaires pour leur validation. 
                    </p>
                </div>
                
                <div id="detail5" class="detail_text">
                    <h3>Support Post-implantation</h3>
                    <p> Suite à la mise en production, Shefford BI Solutions assure un support afin de corriger tout problème pouvant arriver en environnement de production.
                    </p>
                </div>
                
                <div id="detail6" class="detail_text">
                    <h3>Qlik</h3>
                    <ul class="no-bullets">
                        <li>Formation Architecte de données QlikSense</li>
                        <li>Formation Analyste d’affaire QlikSense</li>
                        <li>Introduction à QlikSense</li>
                        <li>QlikSense Découverte</li>
                        <li>QlikSense Serveur</li>
                    </ul>
                </div>
                
                <div id="detail7" class="detail_text">
                    <h3>Tableau Software</h3>
                    <ul class="no-bullets">
                        <li>Introduction à Tableau Desktop</li>
                        <li>Introduction à Tableau Prep Builder</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="contact">
        <h1 class="header uppercase">Contact Us</h1>
        <div class="contact_form">
            <div id="contact_information" class="contact_information">
                <h3 class="uppercase" style="text-align: center;">Pour nous contacter</h3>
                <p><strong>Adresse:</strong></br> 26 Rue de Berne,</br> Shefford, Quebec,</br> J2M 1T1</p>
                <p><strong>Téléphone:</strong></br> 514-290-4828</p>
                <p><strong>Courriel:</strong></br> philippe.motillon@sheffordbisol.ca</p>
            </div>

            <%= form_for Contact.new, url: pages_contact_path(Contact.new) do |f| %>
                <div id="name">
                    <p></br><p>
                    <h3>Nom</h3>
                    <%= f.text_field :name, class: "form_field" %>
                </div>

                <div id="email">
                    <p></br><p>
                    <h3>Courriel</h3>
                    <%= f.text_field :email, class: "form_field" %>
                </div>

                <div id="phone">
                    <p></br><p>
                    <h3>Téléphone</h3>
                    <%= f.text_field :phone, class: "form_field" %>
                </div>

                <div id="title">
                    <p></br><p>
                    <h3>Titre</h3>
                    <%= f.text_field :title, class: "form_field" %>
                </div>

                <div id="description">
                    <p></br><p>
                    <h3>Description</h3>
                    <%= f.text_area :description, {:size => "50x10", class: "description_field"} %>
                </div>

                <div id="submit">
                    <p></br><p>
                    <%= f.submit "Submit", {id: "submit_button", class: "button"} %>
                </div>
            <% end %>
        </div>
    </div>
</div>